# ==========================================
# CẤU HÌNH NHÀ MÁY XỬ LÝ (SPARK PROCESSING)
# ==========================================
# Điền NODE1, NODE2 hoặc NODE3 (Điền node tương ứng)
NODE_ID=NODE_TEMPLATE

# 1. Nguồn cấp dữ liệu (Kafka)
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_NAME=tour_events

# 2. Kho lưu trữ lạnh đổi localhost thành 192.168.1.20 khi chạy chung mạng
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
MINIO_BUCKET=raw-tour-data

# 3. Kho lưu trữ nóng đổi localhost thành 192.168.1.20 khi chạy chung mạng
CLICKHOUSE_URL=jdbc:clickhouse://localhost:8123/uet_tour
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=