# ==========================================
# CẤU HÌNH TRẠM PHÁT DỮ LIỆU (INGESTION)
# ==========================================
# Điền NODE1, NODE2 hoặc NODE3(Điền node tương ứng)
NODE_ID=NODE_TEMPLATE

# Cấu hình Kafka Broker (Mặc định: localhost:9092)
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC_NAME=tour_events